.Title
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: white;
    letter-spacing: 0.8px;
}
.content
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.6px;
}
p{
    margin-bottom: 0%;
}
a{
    color: rgb(25, 118, 210);
    text-decoration: none;
}