
.content_1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: rgb(25, 118, 210);
    letter-spacing: 0.6px;
}
.p_1{
    color:rgb(237,108,2)
}
.p_2{
    color:rgb(73, 88, 255)
}
.p_3{
    color:rgb(39, 195, 47)
}
.p_4{
    color:rgb(255, 213, 0)
}